.nav-divider {
    width: 2px;
    background-color: var(--secondary);
    height: 100%;
    margin: 0 10px 0 10px;
}

html .admin, html .user {
    display: none;
}

html[loggedIn="true"] .user {
  display: block !important;
} 

html[loggedIn="true"] .not-user {
  display: none !important;
} 

html[admin="true"] .admin {
    display: block !important;
}

.nav-item button {
  margin-left: 10px;
}

.category {
  display: inline-block;
  width: 200px;
  margin: 10px;
}

.category a {
  text-decoration: none;
  color: inherit;
}

#searchRes {
    border: 1px solid var(--primary);
    margin: 10px;
    padding: 10px;
}

#results {
    list-style: none;
    padding: 0;
}

#results li {
    float: left;
    margin-right: 5px;
}

#results li :after {
    width: 2px;
    height: 100%;
    margin: 5px;
    background-color: var(--secondary);
}

.hide {
    display: none;
}

.category_hero {
  background-repeat:no-repeat;
  background-position: center center;
  color: white;
}

.category_hero div {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.534);
}

@media only screen and (max-width: 600px) {
  .category_hero h1 {
    font-size: 20px;
  }

  .category_hero div {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.534);
  }
}